.idea/*
__pycache__/*
.ipynb_checkpoints/
scripts/__pycache__/*
scripts/analyze/__pycache__/*
scripts/image/__pycache__/*
scripts/parse/__pycache__/*
scripts/plot/__pycache__/*
scripts/stats/__pycache__/*
scripts/subset/__pycache__/*
*.svg
*.pkl
.gitattributes
pipeline_data_processing_and_plotting.ipynb